$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

$color-floralwhite: floralwhite;

$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn: 0, $pad-left-right: 0) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin();
}

.row-content {
  @include zero-margin(50px, 0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0px);
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: $color-floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border: 1px solid $lt-gray;
  border-top: none;
  padding: 10px;
}

.carousel {
  background: $background-dark;

  .carousel-item {
    height: $carousel-item-height;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
  }
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.modal-content {
  background: $background-pale;

  .modal-header {
    background: $background-dark;
    color: $color-floralwhite;

    .close {
      color: $color-floralwhite;
    }
  }
}
